<form action="{{ path('enhavo_contact_submit', { type: 'contact' }) }}" id="contact_form" method="post">
    {{ form_row(form.firstName) }}
    {{ form_row(form.email) }}
    {{ form(form.message) }}
    {{ form_row(form._token) }}
    <button class="submit" name="sendfeedback" value="Send Message">Senden</button>
</form>